/*
.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
*/

@font-face {
    font-family: 'Lora-Regular';
    src: url('/font/Lora/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lora-Medium';
    src: url('/font/Lora/Lora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lora-SemiBold';
    src: url('/font/Lora/Lora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


body {
    font-family: 'Lora-Regular';
}

.main {
    /*padding: 5% 22% 0%;*/
    margin: 5% 22% 5%;
}

img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

h1 {
    font-size: 2.5rem;
    font-family: "Lora-Medium";
    margin-bottom: 30px;
}

label {
    font-size: 0.95rem;
    color: #12473A;
}

input#phone {
    max-width: 20em;
    border-radius: 8px;
    min-height: 3em;
    padding: 8px 15px;
    box-shadow: none;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #61706F;
    border: 1px solid #9FB5AF;
}

input[type="button"] {
    background: #07949D;
    border: none;
    border-radius: 30px;
    font-family: Helvetica Neue;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 25px;
    cursor: pointer;
}

input[type="button"]:disabled {
    background: #cccece;
    color: #888;
    cursor: not-allowed;
    opacity: 0.6;
}

hr {
    width: 95%;
    color: #cccece;
    margin: 40px auto;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

ol {
    list-style: none;
    counter-reset: custom-counter;
    margin: 0;
}

ol li {
    counter-increment: custom-counter;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-right: 2em;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: #042A21;
}

ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: #cccece;
}

ol li::before {
  content: counter(custom-counter, decimal-leading-zero);
  /*position: relative;*/
  /*left: 0;*/
  margin-right: 30px;
  font-family: "Lora-SemiBold";
  flex-shrink: 0;
}

audio {
    width: 100%;
    margin: 0 0 2em;
}

